# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Blunderbuss/.vs/Blunderbuss/copilot-chat
/Blunderbuss/.vs/Blunderbuss/CopilotIndices
/Blunderbuss/.vs
/Blunderbuss/Blunderbuss/x64
Blunderbuss/log_file.txt
/Blunderbuss/x64
/Blunderbuss/x64
